<footer class="bg-[#F6F6F6] w-screen">
  <div class="flex md:gap-44 gap-16 md:justify-center flex-col md:flex-row">
    <div class="md:block flex flex-col items-center">
      <h3 class="md:mb-8 mt-24">Digital Agency</h3>
      <p class="mt-8">Building Digital Products,</p>
      <p>Brands & Experience</p>
    </div>
    <div class="md:flex-col flex flex-col items-center md:items-baseline gap-6">
      <h3 class="md:mt-24 md:mb-2 mb-2">Resources</h3>
      <a href="">Guides</a>
      <a href="">Blog</a>
      <a href="">Customer Stories</a>
      <a href="">Glossery</a>
    </div>
    <div class="md:flex-col flex flex-col items-center md:items-baseline gap-6">
      <h3 class="md:mt-24 md:mb-8 mb-2">Company</h3>
      <a href="">About Us</a>
      <a href="">Careers</a>
      <a href="">Partners</a>
      <a href="">Contact Us</a>
    </div>
    <div class="md:flex-col flex flex-col items-center md:items-baseline gap-6">
      <h3 class=" md:mt-24 md:mb-8 mb-2">Social Media</h3>
      <a href="https://in.linkedin.com">Linkedn</a>
      <a href="https://www.facebook.com">Facebook</a>
      <a href="https://www.instagram.com">Instagram</a>
      <a href="https://twitter.com/">Twitter</a>
    </div>
  </div>

  <div class="flex flex-col items-center mt-24 pb-4 text-sm">
    <p>© Matheus. Todos os direitos reservados</p>
  </div>

</footer>

