<div class="flex justify-between mx-6 md:mx-0">
  <h1 class="md:ml-48 md:mt-12 mt-12 font-bold">DIGITAL AGENCY</h1>
  <div class="flex gap-1">
    <div class="md:block absolute md:right-0 right-12 md:top-0 top-1 md:bg-transparent bg-slate-100 md:mr-48 mt-12 flex flex-col md:flex-row font-light"
      [ngClass]="{
        hidden : !isSelected
      }">
      <button class="md:border-none border border-gray-300 md:p-0 px-2 py-1 md:mr-8">home</button>
      <button class="md:border-none border border-gray-300 md:p-0 px-2 py-1 md:mr-8">about</button>
      <button class="md:border-none border border-gray-300 md:p-0 px-2 py-1 md:mr-8">testimonials</button>
      <button class="md:border-none border border-gray-300 md:p-0 px-2 py-1">contact</button>
    </div>
    <span (click)="menu()" class="md:hidden mt-12 material-symbols-outlined ">
      menu
    </span>
  </div>
</div>

