<div class="hidden md:block bg-[#F6F6F6] md:flex items-center justify-between rounded-lg mx-64 mt-1 p-2">
  <img class="scale-75" src="../../../assets/images/spotify.png" alt="">
  <img class="scale-75" src="../../../assets/images/slack.png" alt="">
  <img class="scale-75" src="../../../assets/images/dropbox.png" alt="">
  <img class="scale-75" src="../../../assets/images/zoom.png" alt="">
</div>

<div class="md:hidden flex bg-[#F6F6F6] mx-6 mt-1 rounded-lg h-16">
  <img class="scale-[0.5] -ml-7" src="../../../assets/images/spotify.png" alt="">
  <img class="scale-[0.5] -ml-20" src="../../../assets/images/slack.png" alt="">
  <img class="scale-[0.5] -ml-20 mr-1" src="../../../assets/images/dropbox.png" alt="">
  <img class="scale-[0.5] -ml-20" src="../../../assets/images/zoom.png" alt="">
</div>
