<!-- SECTION-1 -->
<div class="md:flex md:justify-between md:mt-16">
  <div class="flex flex-col items-center md:block">
    <h1 class="font-bold text-5xl md:text-7xl md:ml-48 mt-24 md:mt-40">Bulding Digital </h1>
    <h1 class="font-bold text-5xl md:text-7xl md:ml-48"> Products, Brands </h1>
    <h1 class="font-bold text-5xl md:text-7xl md:ml-48"> & Experience</h1>
    <p class="hidden md:block ml-48 mt-8 font-light">Digital Agency Is Your Online Team Management Tool That <br> Easy And Prompt</p>
    <p class="md:hidden mt-8 font-light">Digital Agency Is Your Online Team Management </p>
    <p class="md:hidden font-light"> Tool That Easy And Prompt</p>
    <button class="md:ml-48 mt-12 bg-[#8EADD5] text-white text-sm px-5 py-2 rounded-md ">CONTACT US</button>
  </div>
  <img class="md:mr-48 mt-8 md:mt-14 scale-90 md:scale-100" src="../../../assets/images/table.png" alt="">
</div>
<div class="flex justify-center">
  <p class="mt-20 md:mt-36 text-slate-600 font-extralight">Trusted By 4,000+ Companies</p>
</div>


<!-- ADS-BAR -->
<app-adsbar></app-adsbar>

<!-- SECTION-2 -->
<div class="md:flex justify-between mt-8">
  <div class="md:order-2 flex flex-col items-center md:block md:mr-48">
    <h1 class="hidden md:block font-bold text-7xl mt-48">Branding & Design <br> System </h1>

    <h1 class="md:hidden font-bold text-[44px] mt-8">Branding & Design</h1>
    <h1 class="md:hidden font-bold text-[44px]">System </h1>

    <!-- tab p -->
    <p class="hidden md:block mt-10 font-light">Commonly Used In The Graphic, Print & Publishing <br> Industries For Previewing Visual Layout And <br> Mockups</p>
    <!-- mobile-p  -->
    <p class="md:hidden mt-10 font-light">Commonly Used In The Graphic, Print & Publishing </p>
    <p class="md:hidden font-light">Industries For Previewing Visual Layout And Mockups</p>

    <span class="hidden md:block material-symbols-outlined text-7xl mt-8 -ml-3">
      east
    </span>
    <span class="md:hidden material-symbols-outlined text-5xl mt-8 ">
      south
    </span>

  </div>
  <img class="md:order-1 md:ml-48 mt-16 md:mt-24 scale-90 md:scale-100" src="../../../assets/images/pencil.png" alt="">
</div>

<!-- SECTION-3-->
<div class="md:flex justify-between mt-32 md:mt-0">
  <div class="flex flex-col items-center md:block">
    <h1 class="hidden md:block font-bold text-7xl md:ml-48 mt-48">Custome & Plugin <br> Development </h1>

    <h1 class="md:hidden font-bold text-[44px] mt-8">Custome & Plugin </h1>
    <h1 class="md:hidden font-bold text-[44px] "> Development </h1>

    <p class="mt-10 font-light md:ml-48">Commonly Used In The Graphic, Print & Publishing </p>
    <p class="font-light md:ml-48"> Industries For Previewing Visual Layout And Mockups</p>

    <span class="hidden md:block material-symbols-outlined text-7xl mt-8 ml-[184px]">
      east
    </span>
    <span class="md:hidden material-symbols-outlined text-5xl mt-8">
      south
    </span>
  </div>
  <img class="md:mr-48 mt-16 md:mt-24 scale-90 md:scale-100" src="../../../assets/images/lecture.png" alt="">
</div>


<!-- TESTIMONIALS-->
<div class="mt-48 flex items-center flex-col w-screen">
  <p class="mb-[-32px]">TESTIMONIALS</p>
  <h1 class="font-bold text-[44px] md:text-7xl mt-12">Read What Other</h1>
  <h1 class="font-bold text-[44px] md:text-7xl">Have To Say </h1>
</div>


<!-- CARDS-->
<div class="w-screen flex justify-center md:gap-32 gap-20 flex-col md:flex-row items-center scale-[0.8] md:scale-100 -mt-24 md:mt-14">
  <app-cards
  *ngFor="let content of contentArray"
  [imgUrl]="content.imgUrl"
  [name]="content.name"
  ></app-cards>
</div>

<!-- ENQUIRY -->
<app-enquiry></app-enquiry>

<div class="h-32"></div>
