<div class="scale-125 mt-12 w-[330px] h-[330px] bg-[#F6F6F6] rounded-3xl flex items-center flex-col">
  <div class="mt-7 h-32 w-32 rounded-full bottom-3 border-[1px] border-gray-200 overflow-hidden">
    <img class="mt-1" src="{{ imgUrl }}" alt="">
  </div>

  <p class="mt-2 text-gray-600">{{ name }}</p>
  <p class="mt-4 font-light text-gray-500"> Lorem Ipsum Dolor Sit Amet, Consectetur </p>
  <p class="font-light text-gray-500"> Adipiscing Elit. Nunc Ullamcorper </p>
  <p class="font-light text-gray-500"> Scelerisque Mi, In Malesuada Felis</p>
  <p class="font-light text-gray-500"> Malesuada vel.</p>
</div>
